header img {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;

}
header{
    text-align: center;
    padding: 20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
strong{
    font-weight: bold;
   
}
span{
    margin-left: 10px;
}
main{
    text-align: center;
}
body{
    background-color: rgba(255, 192, 203, 0.945);
}
p {
    margin-bottom: 0;
    margin-top: 10px;
}
a{
    cursor: pointer;
}